@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #055e92b4,white);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    margin: 3px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
}
img{
    background-color: black;
    position: relative;
    margin: 0% 0% 0% 35%;
}
img.t
{
    background-color: black;
    display: inline;
    position: absolute;
    margin: 0% 0% 0% 34%;
}
img.y
{
    background-color: black;
    display: inline;
    position: absolute;
    margin: 0% 0% 5% 34%;
}
img.i {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    display: inline;
    margin: 0% 0% 0% 34%;
    
}
a{
    text-decoration: none;
    margin: 0px;
}
div.tw 
{
    box-shadow: 10% 50%;
    margin: 0% 0% 0% 0%;
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    position: relative;
    background-color: blueviolet;
    border-color: blueviolet;
}

div.yu{
    margin: 0% 0% 0% 0%;
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    position: relative;
    background-color: blueviolet;
    border-color: blueviolet;
}
div.in{
    margin: 0% 0% 0% 0%;
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    position: relative;
    background-color: blueviolet;
    border-color: blueviolet;
}