@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #055e92b4,white);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    margin: 3px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
}
img{
    position: relative;
    bottom: 0%;
    left: 35%;
    right: 0%;
    top: 0%;
    margin: 0px;
}
img.t
{
    position: absolute;
    bottom: 0%;
    left: 35%;
    right: 0%;
    top: 65%;
    margin: 0px;
}
img.y
{
    position: absolute;
    bottom: 0%;
    left: 35%;
    right: 0%;
    top: 73%;
    margin: 0px;
}
img.i {
    position: absolute;
    bottom: 0%;
    left: 35%;
    right: 0%;
    top: 82%;
    margin: 0px;
    
}
a{
    text-decoration: none;
    margin: 0px;
}
div.tw 
{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    position: absolute;
    bottom: 0%;
    left: 40%;
    right: 0%;
    top: 67%;
    margin: 0px;
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
}

div.yu{
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    background-color: blueviolet;
    border-color: blueviolet;
    position: absolute;
    bottom: 0%;
    left: 40%;
    right: 0%;
    top: 75%;
    margin: 0px;
}
div.in{
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    position: relative;
    background-color: blueviolet;
    border-color: blueviolet;
    position: absolute;
    bottom: 0%;
    left: 40%;
    right: 0%;
    top: 83.5%;
    margin: 0px;
}